<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zach Deagle</title>

    
    <link rel='stylesheet' href='/css/style.css' />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Trirong'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Satisfy&display=swap'
      rel='stylesheet'/>
      <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="entrance">

    <h1 class="entrance__welcome">
        Welcome.<br> My name is Zach Deagle, and I am a full-stack developer.
    </h1>
    <a href="home" class="entrance__btn">Enter &rarr;</a>

    </div>
</body>

<script src='/src/app.js'></script>
</html>